# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.c9/
.settings/
bin/
target/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Mac/Linux hidden files
.DS_Store

# Windows hidden files
Thumbs.db

# Properties files with credentials
*.properties
!hexadb.properties

# Maven
log/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
